<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="zh-TW">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minecraft Controller</title>
    <link rel="icon" href="{{ url_for('static', filename='icon/main_icon.ico') }}" type="image/x-icon">

    <!-- socket.io -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script> -->
    <!-- /socket.io -->


    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- /jquery -->

    <!-- css -->
    <!-- /css -->

    <!-- webfonts -->
    <!-- /webfonts -->

    <!-- socketio -->
    <!-- <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            var socket = io.connect();
            socket.on('status_response', function(msg) {
                var date = new Date();
                $('#status').append('<p>status: ' + msg.data + "Time:"+ date+ '</p>');
            });
        });
    </script> -->
    <!-- /socketio -->
</head>


<body>
</body>

<!-- js -->
<!-- /js -->

</html>